NEXT_PUBLIC_GOVERNANCE_CONTRACT_ID=CAN4N5DMMJOO5TBVB73AW57F4EEUQZXT2U4BJXAHAN7MKBMLSOYLTNP2
NEXT_PUBLIC_REPUTATION_CONTRACT_ID=CAI2YIQQXQAPJ2GKA6I66GRENFSVCVELKOGZ7BA7PLMWNMUAIKFKRBHO
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_CONTRACT_ID=
